<table id="details">
	<tbody>
		<tr>
			<%= content_tag( 'th', 'Published on:' ) %>
			<%= content_tag( 'td', @oral_evidence_transcript.published_on.strftime( '%A %-d %B %Y') ) %>
		</tr>
		<tr>
			<%= content_tag( 'th', 'Date:' ) %>
			<%= content_tag( 'td', @oral_evidence_transcript.start_on.strftime( '%A %-d %B %Y') ) %>
		</tr>
		<% if @oral_evidence_transcript.meeting_on -%>
			<tr>
				<%= content_tag( 'th', 'Meeting on:' ) %>
				<%= content_tag( 'td', @oral_evidence_transcript.meeting_on.strftime( '%A %-d %B %Y') ) %>
			</tr>
		<% end -%>
		<% if @oral_evidence_transcript.legacy_html_url and !@oral_evidence_transcript.legacy_html_url.empty? -%>
			<tr>
				<%= content_tag( 'th', 'Legacy HTML link:' ) %>
				<%= content_tag( 'td', link_to( @oral_evidence_transcript.legacy_html_url, @oral_evidence_transcript.legacy_html_url ) ) %>
			</tr>
		<% end -%>
		<% if @oral_evidence_transcript.legacy_pdf_url and !@oral_evidence_transcript.legacy_pdf_url.empty? -%>
			<tr>
				<%= content_tag( 'th', 'Legacy PDF link:' ) %>
				<%= content_tag( 'td', link_to( @oral_evidence_transcript.legacy_pdf_url, @oral_evidence_transcript.legacy_pdf_url ) ) %>
			</tr>
		<% end -%>
		<tr>
			<%= content_tag( 'th', 'Part of event segment:' ) %>
			<%= content_tag( 'td', link_to( @oral_evidence_transcript.event_segment.display_name, event_segment_show_url( :event_segment => @oral_evidence_transcript.event_segment.system_id ) ) ) %>
		</tr>
		<% if @oral_evidence_transcript.document_id -%>
			<tr>
				<%= content_tag( 'th', 'Document ID:' ) %>
				<%= content_tag( 'td', @oral_evidence_transcript.document_id  ) %>
			</tr>
		<% end -%>
	</tbody>
</table>

<% unless @oral_evidence_transcript.committees.empty? -%>
	<div id="committees">
		<%= content_tag( 'h2', 'Committees' ) %>
		<ul>
			<%= render :partial => 'committee/committee', :collection => @oral_evidence_transcript.committees %>
		</ul>
	</div>
<% end -%>

<% unless @oral_evidence_transcript.work_packages.empty? -%>
	<div id="work-packages">
		<%= content_tag( 'h2', 'Work packages' ) %>
		<ul>
			<%= render :partial => 'work_package/work_package', :collection => @oral_evidence_transcript.work_packages %>
		</ul>
	</div>
<% end -%>

<% unless @oral_evidence_transcript.oral_evidence_transcript_files.empty? -%>
	<div id="files">
		<%= content_tag( 'h2', 'Files' ) %>
		<ul>
			<%= render :partial => 'oral_evidence_transcript_file/oral_evidence_transcript_file', :collection => @oral_evidence_transcript.oral_evidence_transcript_files %>
		</ul>
	</div>
<% end -%>