<nav>
	<%= link_to( "Details", committee_show_url ) %>
	<% unless committee_nav.all_memberships.empty? -%>
		-
		<%= link_to( "Members", committee_current_memberships_url ) %>
	<% end -%>
	<% if committee_nav.contactable? -%>
		-
		<%= link_to( "Contact", committee_contact_url ) %>
	<% end -%>
	<% unless committee_nav.all_work_packages.empty? -%>
		-
		<%= link_to( "Work packages", committee_work_package_current_url ) %>
	<% end -%>
	<% unless committee_nav.all_events.empty? -%>
		-
		<%= link_to( "Events", committee_event_upcoming_url ) %>
	<% end -%>
	<% unless committee_nav.oral_evidence_transcripts.empty? -%>
		-
		<%= link_to( "Oral evidence transcripts", committee_oral_evidence_transcripts_url ) %>
	<% end -%>
	<% unless committee_nav.publications.empty? -%>
		-
		<%= link_to( "All publications", committee_publications_url ) %>
	<% end -%>
	<% unless committee_nav.publication_types.empty? -%>
		-
		<%= link_to( "Publication types", committee_publication_type_list_url ) %>
	<% end -%>
</nav>