<nav>
	<%= link_to( "Details", committee_show_url ) %>
	<% if committee_nav.contactable? -%>
		-
		<%= link_to( "Contact", committee_contact_url ) %>
	<% end -%>
	<% unless committee_nav.all_work_packages.empty? -%>
		-
		<%= link_to( "Work packages", committee_work_package_current_url ) %>
	<% end -%>
	<% unless committee_nav.all_events.empty? -%>
		-
		<%= link_to( "Events", committee_event_upcoming_url ) %>
	<% end -%>
	<% unless committee_nav.oral_evidence_transcripts.empty? -%>
		-
		<%= link_to( "Oral evidence transcripts", committee_oral_evidence_transcripts_url ) %>
	<% end -%>
</nav>