<%= content_tag( 'p', "Parent committee: #{link_to( @committee.parent_committee.name, committee_show_url( :committee => @committee.parent_committee.system_id ) )}".html_safe ) if @committee.parent_committee %>

<table>
	<tbody>
		<tr>
			<%= content_tag( 'th', 'Houses' ) %>
			<td>
				<ul>
					<%= render :partial => 'house/house', :collection => @committee.parliamentary_houses %>
				</ul>
			</td>
		</tr>
		<tr>
			<%= content_tag( 'th', 'Types' ) %>
			<td>
				<ul>
					<%= render :partial => 'committee_type/committee_type', :collection => @committee.committee_types %>
				</ul>
			</td>
		</tr>
		<% unless @committee.departments.empty? -%>
			<tr>
				<%= content_tag( 'th', 'Scrutinises' ) %>
				<td>
					<ul>
						<%= render :partial => 'department/department', :collection => @committee.departments %>
					</ul>
				</td>
			</tr>
		<% end -%>
		<% if @committee.start_on -%>
			<tr>
				<%= content_tag( 'th', 'Start date:' ) %>
				<%= content_tag( 'td', @committee.start_on.strftime( '%A %-d %B %Y') ) %>
			</tr>
		<% end -%>
		<% if @committee.end_on -%>
			<tr>
				<%= content_tag( 'th', 'End date:' ) %>
				<%= content_tag( 'td', @committee.end_on.strftime( '%A %-d %B %Y') ) %>
			</tr>
		<% end -%>
		<tr>
			<%= content_tag( 'th', 'Is shown on website:' ) %>
			<%= content_tag( 'td', @committee.is_shown_on_website ) %>
		</tr>
		<% if @committee.legacy_url -%>
			<tr>
				<%= content_tag( 'th', 'Legacy URL:' ) %>
				<%= content_tag( 'td', link_to( @committee.legacy_url, @committee.legacy_url ) ) %>
			</tr>
		<% end -%>
		<tr>
			<%= content_tag( 'th', 'Is redirect enabled:' ) %>
			<%= content_tag( 'td', @committee.is_redirect_enabled ) %>
		</tr>
	</tbody>
</table>

<% unless @committee.sub_committees.empty? %>
	<div id="sub-committees">
		<%= content_tag( 'h2', 'Sub-committees' ) %>
		<ul>
			<%= render :partial => 'committee', :collection => @committee.sub_committees %>
		</ul>
	</div>
<% end -%>