<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<%= content_tag( 'title', @page_title || 'Committees' ) %>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<style>
			body {font-family: system-ui;padding:1rem;font-size:1.2rem;line-height:1.4;max-width:42rem;margin:0.5rem auto;}
			cite {font-style: normal;}
			h1, h2, h3 {font-weight:normal;}
			main {padding:2rem 0;}
			li h2, li h3 {font-size: 1em;}
			li .sub-committee-number, li .dates {font-size: .8em;}
			th, td {text-align: left;vertical-align: top;padding: .5em;font-weight:normal;}
			td ul {list-style:none;margin:0;padding:0;}
			main {padding:2rem 0;}
		</style>
	</head>
	<body>
		<header>			
			<nav><p>
				<%= content_tag( 'span', link_to( 'COMMITTEES', home_url ) ) %>
				 -
				 <%= link_to( 'Current', committee_current_url ) %>
				-
				<%= link_to( 'Joint', joint_current_url ) %>
				
				<br>
				
				
				<%= link_to( 'by category', committee_category_list_url ) %>
				-
  		  		<%= link_to( 'by type', committee_type_list_url ) %>
				-
                              
  		  		<%= link_to( 'by House', house_list_url ) %>
				</p>
				
				<p>
  		  		<%= link_to( 'WORK PACKAGES', work_package_current_url ) %>
<br>
  		  		<%= link_to( 'by type', work_package_type_list_url ) %>
				
  		  		
  		  		</p>
				<p>
  		  		
  		  		<%= link_to( 'DEPARTMENTS', department_list_url ) %>
  		  		</p>

			</nav>
			<%= content_tag( 'h1', @page_title || 'Committees' ) %>
		</header>
		<main>
		<%= yield %>
		</main>
		<footer>
		<nav>
					<%= content_tag( 'p', link_to( 'Meta', meta_list_url ) ) %>

			<p>This site includes information made available at parliament.uk under the <a href='https://www.parliament.uk/site-information/copyright-parliament/open-parliament-licence/' rel='licence'>Open Parliament Licence</a>.</p>
			
			</nav>
		</footer>
	</body>
</html>
