<!DOCTYPE html>
<html lang="en-GB">
<head>
	<title><%= @page_title || 'Committees' %>
	</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<style>		body {font-family: system-ui;padding:1rem;font-size:1.2rem;max-width:44rem;margin:0.5rem auto;}
		h1, h2, h3, h4 {font-weight:normal;}
		th, td {text-align: left;vertical-align: top;padding: .5em;font-weight:normal;}
		td ul {list-style:none;margin:0;padding:0;}
		main {line-height:1.4;}
		footer {line-height:1.4;padding-top:2rem;}
	</style>
</head>
<body>
<header>

<%= content_tag( 'span', link_to( 'Committees', home_url ) ) %>

<%= content_tag( 'h1', @page_title || 'Committees' ) %>
</header>
<main> 
<%= yield %>
</main> 
<footer>
	<nav>

Committees
		- 
<%= link_to( 'current', committee_current_url ) %>
		- 
<%= link_to( 'joint', joint_current_url ) %>
		<br>
		by 
<%= link_to( 'category', committee_category_list_url ) %>
		… 
<%= link_to( 'type', committee_type_list_url ) %>
		… 
<%= link_to( 'House', house_list_url ) %>
		… 
<%= link_to( 'department', department_list_url ) %>
		<p>
<%= link_to( 'Work packages', work_package_current_url ) %>
			<br>
			by 
<%= link_to( 'type', work_package_type_list_url ) %>
		</p>
		<p>
<%= link_to( 'Events', event_upcoming_url ) %>
			<br>
			by 
<%= link_to( 'type', event_type_list_url ) %>
			… 
<%= link_to( 'location', location_list_url ) %>
		</p>
		<p>
<%= link_to( 'Event segments', event_segment_upcoming_url ) %>
			<br>
			by 
<%= link_to( 'activity type', activity_type_list_url ) %>
		</p>
		<p>
<%= link_to( 'Oral evidence transcripts', oral_evidence_transcript_list_url ) %>
		</p>
	</nav>
	
		<p>
			This site includes information made available at parliament.uk under the <a href='https://www.parliament.uk/site-information/copyright-parliament/open-parliament-licence/' rel='licence'>Open Parliament Licence</a>.
		</p>

<%= content_tag( 'p', link_to( 'Meta', meta_list_url ) ) %>

</footer>
</body>
</html>
